cffi==1.15.1
cryptography==39.0.1
greenlet==2.0.2
mysql-connector-python==8.0.32
numpy==1.24.2
pandas==1.5.3
protobuf==3.20.3
pycparser==2.21
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
SQLAlchemy==2.0.3
typing_extensions==4.5.0

scikit-learn~=1.2.1
matplotlib~=3.7.0
ipywidgets~=8.0.4
wordcloud~=1.8.1
ipython~=8.10.0